@import "materialize";
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow") !default;
@import 'materialize';


/*user_profiles show page*/

.zero-bottom-margin{
	margin-bottom: 0px !important;
}

.zero-side-padding{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.card-bottom-margin{
	margin-bottom: 0px !important; 
}

.tabs .tab a{
	color: #4a148c !important;
}

.material-icons-font{
	color: #bdbdbd;
}

.indicator{
	background-color: #4a148c !important;
}

